.auth-bg-cover {
    background: transparent;
}

.bg-rojo {
    background-color: #BA0000;
}

/* TEXTO ROJO */
.text-rojo{
    color: #BA0000;
}

.text-rojo-2{
    color: #FF0000;
}

/* TEXTO SUBRAYADO */
.texto-subrayado{
    text-decoration: underline 3px solid #BA0000;
}

/* INICIO ESTILOS DE BOTON */
.btn-rojo {
    color:#fff;
    background-color: #BA0000;
    border-color: #BA0000;
}

.btn-rojo:focus,
.btn-rojo:hover {
    color:#fff;
    background-color:#a50000;
    border-color:#a50000;
}

.btn-rojo.active,
.btn-rojo:active {
    color:#fff;
    background-color:#a50000;
    border-color:#a50000;
}

.btn-rojo.disabled,
.btn-rojo:disabled {
    color:#fff;
    background-color:#BA0000;
    border-color:#BA0000;
}
/* FIN ESTILOS DE BOTON */

/* ESTILOS DE LOS LINKS DEL MENU */
.navbar-menu .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"] {
    color: #BA0000;
}

.navbar-menu .navbar-nav .nav-link.active, .navbar-menu .navbar-nav .nav-link:hover {
    color: #BA0000;
}

.navbar-menu .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"] .icon-dual {
    color: #BA0000;
    fill: #ba000039;
}

.navbar-menu .navbar-nav .nav-link:hover .icon-dual {
    color: #BA0000;
    fill: #ba000039;
}

.navbar-menu .navbar-nav .nav-sm .nav-link.active, .navbar-menu .navbar-nav .nav-sm .nav-link:hover {
    color: #BA0000;
}

.navbar-menu .navbar-nav .nav-sm .nav-link.active::before {
    background-color: #BA0000;
}

.navbar-menu .navbar-nav .nav-sm .nav-link:hover:before {
    background-color: #BA0000;
}

.navbar-menu .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"]::after {
    color: #BA0000;
}

[data-layout="twocolumn"] .app-menu .navbar-nav .nav-sm .nav-link.active {
    color: #BA0000;
}

[data-layout="twocolumn"] .twocolumn-iconview .nav-icon.active {
    background-color: #ba000039;
    color: #BA0000;
}

[data-layout="twocolumn"] .twocolumn-iconview .nav-icon.active .icon-dual {
    color: #BA0000;
    fill: #ba000039;
}

[data-layout="horizontal"] .navbar-menu .navbar-nav .nav-link.active, [data-layout="horizontal"] .navbar-menu .navbar-nav .nav-link.active::after, [data-layout="horizontal"] .navbar-menu .navbar-nav .nav-link:hover {
    color: #BA0000;
}

[data-layout="horizontal"] .navbar-menu .navbar-nav .nav-link.active .icon-dual, [data-layout="horizontal"] .navbar-menu .navbar-nav .nav-link:hover .icon-dual {
    color: #BA0000;
    fill: #ba000039;
}

[data-layout="horizontal"] .navbar-menu .navbar-nav .nav-sm .nav-link.active, [data-layout="horizontal"] .navbar-menu .navbar-nav .nav-sm .nav-link:hover {
    color: #BA0000;
}

[data-layout="horizontal"] .navbar-menu .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"] {
    color: #BA0000;
}

[data-layout="horizontal"] .navbar-menu .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"] .icon-dual {
    color: #BA0000;
    fill: #ba000039;
}

[data-layout="horizontal"] .navbar-menu .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"]::after {
    color: #BA0000;
}

[data-layout=horizontal] .navbar-nav .nav-item:hover>.nav-link:after, [data-layout=horizontal] .navbar-nav .nav-item:hover>.nav-link {
    color: #BA0000;
}

[data-layout=horizontal] .navbar-nav .nav-item:hover>.nav-link .icon-dual{
    color: #BA0000;
    fill: #ba000039;
}

/* FIN DE LOS ESTILOS DEL MENU */

/* INICIO ESTILOS DEL DEGRADADO */
.bg-vertical-gradient {
    background:linear-gradient(90deg,#BA0000,#FF0000);
}

[data-sidebar="gradient"] .navbar-menu {
    background:linear-gradient(90deg,#BA0000,#FF0000);
}

.navbar-landing .navbar-nav .nav-item .nav-link.active, .navbar-landing .navbar-nav .nav-item .nav-link:focus, .navbar-landing .navbar-nav .nav-item .nav-link:hover {
    color: #BA0000 !important;
}

.footer-social-link .avatar-title:hover{
    color:#fff;background-color:#BA0000;
}

/* FIN ESTILOS DEL DEGRADADO */

/* INICIO PAGINACION DE BOOTSTRAP */
.page-item .page-link{
    color: #BA0000;
}

.page-item .page-link:focus,
.page-item .page-link:hover{
    color: #BA0000;
}

.page-item.active .page-link{
    color: #FFFFFF;
    background-color: #BA0000;
    border: solid 1px #BA0000;
}

/* FIN PAGINACION DE BOOTSTRAP */

/** INICIO ESTILOS DE LA TABLA RESPONSIVE */

@media ( max-width: 30em ){ /* 30 x 16px = 480px*/
    table{
        width: 100%;
    }

    table thead{
        display: none;
    }

    table tr{
        display: flex;
        flex-direction: column;
        border-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--vz-table-accent-bg);
        padding: .75rem .6rem;
        margin-bottom: 1em;
    }

    table th, table td{
        border: none;
    }

    table td[data-titulo]{
        display: flex;
    }

    table td[data-titulo]::before{
        content: attr( data-titulo );
        width: 100px;
        font-weight: 600;
    }
}

/** FIN ESTILOS DE LA TABLA RESPONSIVE */

/** INICIO DE ESTILOS DE DATETIMEPICKER */

.dtp>.dtp-content>.dtp-date-view>header.dtp-header{
    background:#070708;
}

.dtp div.dtp-date, .dtp div.dtp-time{
    background: #212529;
}

.dtp table.dtp-picker-days tr>td>a.selected{
    background:#A61420;
}

.dtp .dtp-actual-meridien a.selected {
    background: #A61420;
}

.dtp .p10 > a {
    color: #FFFFFF;
}

.year-picker-item:hover{
    color:#A61420;
}

.year-picker-item.active{
    color:#A61420;
}

/** FIN DE ESTILOS DE DATETIMEPICKER */
